*{
   margin:0px;
   padding:0px;
}


header{
    background-color: #0f9c02;
    height : 4em;
    color: white;
    text-align: center;
}

footer{
    background-color:#0f9c02;
    text-align: center;
}
main{
    background:rgb(251, 238, 0)
}